# should ignore some files that will change everytime a version is bumped
script/build

# OS X
.DS_Store

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Testing files
WebRunner.html

# Ignore Visual Studio Code project files
.vscode

# Sample Directory Dependencies
samples/getting-started/dist
samples/getting-started/lib
samples/getting-started/node_modules
samples/getting-started/require.js

